@import "/src/styles/mixins";

.container {
  width: 285px;
  height: 300px;
  padding: 12px;
  border-radius: 20px;

  place-items:center;

  &.blue_purple {
    background: linear-gradient(
      151.79deg,
      #282d39 31.71%,
      #712FFF33 100%
    );
  }
  

  &.green {
    background: linear-gradient(151.79deg, #282d39 31.71%, #01D36833 100%);
  }
  &.blue {
    background: linear-gradient(151.79deg, #282d39 31.71%, #00D1FF33 100%);
  }
  &.purple {
    background: linear-gradient(151.79deg, #282d39 31.71%, #EB00FF33 100%);
  }
  &.cyan {
    background: linear-gradient(151.79deg, #282d39 31.71%, #00ff9b33 100%);
  }
  &.red {
    background: linear-gradient(151.79deg, #282d39 31.71%, #FF131333 100%);
  }

  @include for-mobile-only{
    width: 100%;
  }
}

.rewardTitle {
  font-family: Outfit;
  font-size: 17.3px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 12px;
  color: white;
}

.pendingButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 22px;
  margin-top: auto;
  font-family: Outfit;
  font-size: 14px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  transition: all 0.2s;
  min-height: 40px;
}