@import "/src/styles/mixins";

.container {
  height: 343.8px;
  position: relative;
  background: linear-gradient(180deg, #2b3344 20%, #222834 100%);
  border-radius: 18px;
  box-shadow: 0px 0px 3px #0e0606;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .promotionImage {
    position: absolute;
    height: 100%;
    width: 100%;

    @include for-mobile-only {
      display: none;
    }
  }

  @include for-mobile-only {
    height: unset;
  }
}
