@import "/src/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0 0 100px 0;

  @include for-mobile-only {
    padding: 16px;
  }
}

input.my-input {
  border-radius: 12px;
  background: #222733;
  border: 1px solid #4142590A;
  padding: 12px;
  outline: none;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 335;
  line-height: 15px;
  text-align: left;

  &:focus {
    border-color: #8b8db0;
  }
}

.myArea {
  border-radius: 12px;
  background: #222733;
  border: 1px solid #4142590A;
  padding: 12px;
  outline: none;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 335;
  line-height: 15px;
  text-align: left;
  min-height: 137px;

  &:focus {
    border-color: #8b8db0;
  }
}
